<h1>Welcome to Sandbox</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<hr/>

<h2> Challenge 2</h2>
<%= link_to "view ", challenge2_path %>

<h2> Challenge 5</h2>
<%= link_to "view ", challenge5_path %>

